@tailwind base;
@tailwind components;
@tailwind utilities;

.force-image span {
  height: 100%;
}
@media screen and (max-width: 960px) {
  .rdrDateRangePickerWrapper {
    display: block !important;
    overflow: auto;
  }
}
.ant-form-item {
  margin-bottom: 0 !important;
}

.ant-btn {
  height: 100% !important;
}
.ant-btn:hover {
  height: 100% !important;
}

.ant-btn:hover {
  border: 1px solid transparent !important;
  color: white !important;
}
